:root {
    --main-white: #f0f0f0;
    --main-gray: #999999;
}


* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: inherit;
    font-size: 70%;
    scroll-behavior: smooth;
}

@media (max-width: 28.75em) {
    html {
        font-size: 44%;
    }
}

body {
    font-family: 'Arial';
    src:"https://fonts.google.com/specimen/Open+Sans";
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.2;
    color: black;
}

ul {
    list-style: none;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 10;
    overflow: hidden;
}


form {
    background-color: whitesmoke;
    width: 400px;
    height: 50px;
    border-radius: 6px;
    display:flex;
    flex-direction: row;
    align-items:center;

}

input {
    all: unset;
    font: 20px Arial;
    color: gray;
    height: 100%;
    width: 100%;
    padding: 0.5em;
    border-radius: 45%;

}

input >
    button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
      }
      
      svg {
        fill: gray;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
       

      }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    max-width: 100%;
    height: auto;
    }


.nav-list {
    display: flex;
    margin-right: 2rem;
}

.nav-list p {
    display: block;
    font-size: 1.5rem;
    padding: 1.2rem;

}


@media (max-width: 28.75em) {
    .nav { 
        justify-content:center;
    }
    .nav-list {
        margin: 0 1rem;
    }
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1.5em;

}

.buttons-container {
    display: block;
    height: 2em;
    flex-direction: row;
    margin: auto;
    padding: 40px;
    align-self: auto;
    flex-flow: row wrap;

}

.hero {
    padding: 0.5em;
    align-items: flex-start;
    position: relative;
    margin: 10px;
    height: 1em;
    width: auto;
    padding: 5 20px;
    }

.footer {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: white;
    z-index: 10;
}

.footer-list {
    display: flex;
    margin-left: 1rem;
}

.footer-list p {
    display: block;
    font-size: 1.4rem;
    padding: 1rem;
}