:root {
    --main-white: #f0f0f0;
    --main-gray: #999999;
}


.material-icons-outlined {


}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: inherit;
    font-size: 70%;
    scroll-behavior: smooth;
}

@media (max-width: 28.75em) {
    html {
        font-size: 44%;
    }
}

body {
    font-family: 'Arial';
    src:"https://fonts.google.com/specimen/Open+Sans";
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.2;
    color: black;
}

ul {
    list-style: none;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-white);
    z-index: 10;
    overflow: hidden;
}


form {
    background-color: whitesmoke;
    width: 400px;
    height: 50px;
    border-radius: 6px;
    display:flex;
    flex-direction: row;
    align-items:center;

}

input {
    all: unset;
    font: 20px Arial;
    color: gray;
    height: 100%;
    width: 100%;
    padding: 0.5em;
    border-radius: 45%;

}

input >
    button {
        all: unset;
        cursor: pointer;
        width: 44px;
        height: 44px;
        border-radius: 10%;
      }
      
      svg {
        fill: white;
        width: 44px;
        height: 44px;
        border-radius: 10%;
        
      }
}
.search-container {
  
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    max-width: 100%;
    height: auto;
    }


.nav-list {
    display: flex;
    margin-right: 2rem;
}

.nav-list p {
    display: block;
    font-size: 1.9rem;
    padding: 1.2rem;

}


@media (max-width: 28.75em) {
    .nav { 
        justify-content:center;
    }
    .nav-list {
        margin: 0 1rem;
    }
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1.5em;

}

.buttons: {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 2em;
}

.footer {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: white;
    z-index: 10;
}

.footer-list {
    display: flex;
    margin-left: 1rem;
}

.footer-list p {
    display: block;
    font-size: 1.4rem;
    padding: 1rem;
}